@charset "UTF-8";

#wrap {
	width: 1200px;
	margin: 0, auto;
}

header > .logo {
	width: 300px;
	height: 40px;
}
header > .search {
	width: 900px;
	height: 40px;
}

nav {
	height: 40px;	
}

.singer {
	height: 200px;
}

